<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="../CSS/LoginSubscribeHome.css" th:href="@{/CSS/LoginSubscribeHome.css}" />
  </head>
  <body>
  <div th:insert="WEB-INF/header.html :: logout"> </div>
    <h1>Document Management Home Page</h1>
    <p class= "creation" th:text=" ${creationOK}"></p>
    <ul>
      <li th:each="folder : ${allfolders}"><span th:text="${folder.folderName}"></span>
      <ul>
        <li th:each="subfolder: ${folder.getChildList()}">
          <a th:href="@{/Documents(folderName=${subfolder.folderName},subFolderName=${subfolder.subFolderName})}">
            <span th:text="${subfolder.getSubFolderName()}"></span></a>
      </ul>
    </ul>

    <a href = "/documentManagerHTML/ContentManager"> Go to Content Manager page </a>
  </body>
</html>