<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span th:text="${document.documentName}"></span>
    <span th:text="${document.subFolderName}"></span>
    <span th:text="${document.folderName}"></span>
    <span th:text="${document.type}"></span>
    <span th:text="${document.date}"></span>
    <span th:text="${document.username}"></span>
    <span th:text="${document.summary}"></span>
    <span th:text="${document.body}"></span>
</body>
</html>