<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Document Page</title>
    <link rel="stylesheet" type="text/css" href="../CSS/Document.css" th:href="@{/CSS/Document.css}" />
</head>
<body>
<div th:insert="WEB-INF/header.html :: logout"> </div>
<div th:insert="WEB-INF/header.html :: previousPage(${page})"> </div>
<table>
    <tr> <th>Folder:</th> <td><span th:text="${document.folderName}"></span></td>
    <tr> <th>Sub folder:></th> <td> <span th:text="${document.subFolderName}"></span> </td></tr>
    <tr id="selected"> <th>Document name:</th> <td> <span th:text="${document.documentName}"></span></td> </tr>
    <tr> <th>Document type:</th><td>  <span th:text="${document.type}"></span></td> </tr>
    <tr> <th>Creation:</th> <td> <span th:text="${document.date}"></span> </td></tr>
    <tr> <th>Summury:</th>  <td><span th:text="${document.summary}"></span></td> </tr>
    <tr> <td colspan="2" align="center"> <a th:href="@{/GetFile(folderName=${document.folderName},
                                  subFolderName=${document.subFolderName},
                                  documentName=${document.documentName},
                                  documentType=${document.type}
                                  )}" download> Download </a>  </td></tr>
</table>

</body>
</html>