<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Documents Page</title>
    <link rel="stylesheet" type="text/css" href="../CSS/" th:href="@{/CSS/}" />
</head>
    <body>
    <div th:insert="WEB-INF/header.html :: logout"> </div>
    <div th:insert="WEB-INF/header.html :: previousPage(${page})"> </div>
    <h4 th:text="${subFolderName}"></h4>
    <ul>
        <li th:each="document : ${allDocumentsOf}">
            <span th:text="${document.documentName}"></span>
            <!-- TODO: Check if it's a best practice to pass params via GET, and if it would be better to use an ID to referr to elems -->
            <a th:href="@{/Access(username=${document.username},
                                  folderName=${document.folderName},
                                  subFolderName=${document.subFolderName},
                                  documentName=${document.documentName},
                                  documentType=${document.type}
                                  )}">
                <span> >Access </span>
            </a>
            <a th:href="@{/MoveDocument(username=${document.username},
                                  folderName=${document.folderName},
                                  subFolderName=${document.subFolderName},
                                  documentName=${document.documentName},
                                  documentType=${document.type},
                                  requestAction='chooseMovement'
                                  )}">
                <span> >Move </span>
            </a>
        </li>
    </ul>
    </body>
</html>