<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
 	<!--/*  declare parameterized fragment called "list" */-->
	<div th:fragment="list(product)">

		<div th:if="${product.isTop == true}" th:class="(${product.isTop}) ? 'top'">

			<span th:text="${product.name + ' cost: ' +    product.unitcost}"></span>

			<a th:href="@{/DeleteProduct(productid=${product.id})}">Delete

				Product</a>

		</div>

		<ul th:unless="${#maps.isEmpty(product.subParts)}" class="subpart">

			<li th:each="child : ${product.subParts}"><span
				th:text="${child.key.getName() + ' cost: ' +    child.key.getUnitcost()}"></span>

				<span th:text="' quantity: ' + ${child.value}"></span> <a
				th:href="@{/DeleteLink(fid=${product.getId()}, cid=${child.key.getId()})}">Delete

					Link</a> <a th:href="@{/DeleteProduct(productid=${child.key.getId()})}">Delete

					Product</a>
				<!--/* "this" indicates that the fragment to be used is in this file */-->
				<!--/* the product parameter to use in the fragment is the current child */-->
				<ul th:replace="this::list (${child.key})"></ul></li>

		</ul>

	</div>

</body>

</html>