<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="Static/Style/Style.css" th:href="@{/WEB-INF/Static/Style/Style.css}" />
  </head>
  <body>
    <h1>Document Management Home Page</h1>
    <ul>
      <li th:each="folder : ${allfolders}"><span th:text="${folder.folderName}"></span>
      <ul>
        <li th:each="subfolder: ${folder.getChildList()}">
          <a th:href="@{/Documents(username=${subfolder.username},folderName=${subfolder.folderName},subFolderName=${subfolder.subFolderName})}">
            <span th:text="${subfolder.getSubFolderName()}"></span></a>
      </ul>
    </ul>
  </body>
</html>