<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>HomePage</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="Static/Style/Style.css" th:href="@{/WEB-INF/Static/Style/Style.css}" />
</head>
<body>
<div th:insert="WEB-INF/header.html :: logout"> </div>
<div th:insert="WEB-INF/header.html :: previousPage(${page})"> </div>
<h1>Document Management Home Page</h1>
<ul>
  <li th:each="folder : ${allfolders}"><span th:text="${folder.folderName}"></span>
    <ul>
      <li th:each="subfolder: ${folder.getChildList()}">
        <a th:if="${!(docToMove.folderName == subfolder.folderName && docToMove.subFolderName == subfolder.subFolderName)}"
           th:href="@{/MoveDocument(folderName=${subfolder.folderName},
                                  subFolderName=${subfolder.subFolderName},
                                  requestAction='updateFolder')}">
          <span th:text="${subfolder.getSubFolderName()}"></span>
        </a>
        <span th:unless="${!(docToMove.folderName == subfolder.folderName && docToMove.subFolderName == subfolder.subFolderName)}" th:text="${subfolder.getSubFolderName()}"></span>
    </ul>
</ul>
</body>
</html>